header {
    position: fixed
  }
@media (max-width:500px) {
    .logo {
      width: 50%;
      position: relative;
    }
  }
.logo {
    width: 50%;
    height: 50%;
    max-width = 200px;
    display: flex;
  }